<!DOCTYPE html>
<html lang="fr">
<% include header %>
  <body>
    <% include navbar %>
    <div class="container-fluid">
      <div class="row">
        <% include sidebar %>
          <div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-12 col-md-offset-2 main">
            <div class="container">
              <h1>Bienvenue sur Pysysmon</h1>
              <a class="btn btn-primary" href="/listemachines" role="button">Accéder à la liste des machines</a>
            </div>
          </div>
      </div>
    </div>


  </body>
</html>
