<!DOCTYPE html>
<html lang="en">
<% include header %>


  <body>

    <div class="container">
      <div class="col-md-12">
        <div class="col-md-offset-4 col-md-4">
          <form class="form-signin">
            <h2 class="text-center form-signin-heading">Bienvenue sur Pysysmon WebUI ! </h2>
            <p>Afin d'accéder aux fonctionnalités d'administration, veuillez-vous connectez : </p>
            <p>
              <label for="inputEmail" class="sr-only">Nom de compte</label>
              <input type="text" id="inputEmail" class="form-control" placeholder="Nom de compte" required autofocus>
              <label for="inputPassword" class="sr-only">Mot de passe</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div> <!-- /container -->



  </body>
</html>
